<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application android:allowBackup="true">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"

            />
        <activity
            android:name=".ScreenCaptureActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" />

        <service
            android:name=".ScreenCaptureService"
            android:exported="true"
            android:foregroundServiceType="mediaProjection" />
        <service
            android:name=".MainService"
            android:exported="false" />

    </application>

</manifest>
